<template>
    <div>
        <countdown ref="countdown" :leading-zero=false :time="diff * 1000" @countdownprogress="handleCountdownProgress">
            <template slot-scope="props">
                <span v-if="props.days > 0">{{ props.days }} days,</span>
                <span>{{ props.hours }} hours,</span>
                <span>{{ props.minutes }} minutes,</span>
                <span>{{ props.seconds }} seconds.</span>
            </template>
        </countdown>
    </div>
</template>

<script>
    import VueCountdown from '@xkeshi/vue-countdown';

    export default {
        name: 'coming-soon',

        data() {
            return {
                completed: false,
            };
        },

        props: {
            diff: 0,
        },

        components: {
            'countdown': VueCountdown,
        },
        methods: {
            handleCountdownProgress(data) {
                if (!this.completed) {
                    if (data.seconds <= 5) {
                        if (data.minutes == 0) {
                            if (data.hours == 0) {
                                if (data.days == 0) {
                                    this.completed = true;
                                }
                            }
                        }
                    }
                }

                if (this.completed) {
                    this.handleCountdownEnd();
                }
            },
            handleCountdownEnd() {
                setTimeout(function(){
                    window.location.reload();
                }, 3000);
            }
        }
    }
</script>