<template>
    <transition name="modal">
        <div v-if="this.$store.state.Model.Login.isActive" class="modal is-active" @keyup.esc="close">
            <div class="modal-background" @click="close"></div>
            <div class="modal-container">
                <div class="modal-content">
                    <div class="login box">
                        <div class="columns is-multiline is-centered">
                            <div class="column is-narrow">
                                <h4 class="has-text-centered">Please Log In</h4>
                            </div>
                        </div>
                        <div class="columns is-multiline is-centered">
                            <div class="column is-narrow has-text-centered">
                                <a class="button button-socialmedia button-facebook" href="/login/facebook"><i class="fab fa-facebook-f"></i> Log in with Facebook</a>
                            </div>
                            <div class="column is-narrow has-text-centered">
                                <a class="button button-socialmedia button-twitter" href="/login/twitter"><i class="fab fa-twitter"></i> Log in with Twitter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close" @click="close"></button>
        </div>
    </transition>
</template>

<script>
  export default {
    methods: {
      close: function() {
        this.$store.commit('toggleModelLogin')
      }
    },
  }
</script>