<template>
    <div class="wrapper-body columns is-multiline">
        <div class="column is-12">
            <!--{{ plans }}-->
            <div v-for="plan in plans">
                <input type="radio" name="plan" v-bind:id="plan.slug" v-bind:value="plan.slug" v-model="planDefault" />
                <label v-bind:for="plan.slug">{{ plan.name }} {{ plan.amount }} {{ plan.friends }} {{ plan.points }}</label>
            </div>
        </div>

        <div class="column is-12">

        </div>

        <div v-if="hasCard && !submitted" class="column is-12">
            <ul>
                <!--{{ cards }}-->
                <li v-for="(card, index) in cards">
                    <input type="radio" name="card" :id="index" :value="card['id']" v-model="cardID" />
                    <label :for="index">{{ card['brand'] }} {{ '****'+card['last_four'] }} {{ card['expiry_date'] }}</label>
                </li>
            </ul>

            <button @click='pay_card' class="button">Pay</button>
        </div>

        <div v-if="!submitted" class="column is-12 payment">
            <h1>Payment details:</h1>
            <card class='stripe-card'
                  :class='{ complete }'
                  stripe='pk_test_2hH3KsFCtzTRSIvbvGp7ZViU'
                  :options='stripeOptions'
                  @change='complete = $event.complete'
            />
            <button class='button pay-with-stripe' @click='pay' :disabled='!complete'>Pay with credit card</button>
        </div>

        <div v-if="submitted" class="column is-12 statussubmit">
            <div v-if="status === 'failure'">
                <h3>Oh No!</h3>
                <p>Something went wrong!</p>
                <button @click="clearCart" class="button">Please try again</button>
            </div>

            <div v-else class="load">
                <h4>Please hold</h4>
                <!--<app-loader />-->
            </div>
        </div>
    </div>
</template>

<script>
    import { Card, createToken } from 'vue-stripe-elements-plus'

    export default {
        props: {
            // plan: {
            //     type: String,
            //     default: 'plan-1'
            // },
            success: {
                type: Boolean,
                default: false
            }
        },

        data () {
            return {
                cardID: null,
                cards: null,
                complete: false,
                hasCard: false,
                planDefault: 'basic',
                plans: {},
                response: '',
                status: '',
                stripeOptions: {
                    // see https://stripe.com/docs/stripe.js#element-options for details
                },
                submitted: false,
            }
        },

        components: { Card },

        methods: {
            pay_card () {
                if (this.cardID) {
                    this.submitted = true;

                    axios.post('/api/charge', {
                            cardID: this.cardID,
                            plan: this.planDefault
                        }
                    ).then((response) => {
                        if (response.data.success) {
                            this.status = 'success';
                            // this.$emit('successSubmit');
                            // this.$store.commit('clearCartCount');
                            this.flash(response.data.message, 'success');

                            setTimeout(function () {
                                window.location.href = '/';
                            }, 2000);
                        } else {
                            this.status = 'failure';
                            this.submitted = false;
                            this.flash(response.data.message, 'error');
                        }
                    }).catch((error) => {
                        this.status = 'failure';
                        this.submitted = false;

                        if (error.response.status) {
                            if (error.response.status == 401) {
                                this.$store.commit('toggleModelLogin', true)
                            }
                        }

                        if (error.response.data.message) {
                            this.flash(error.response.data.message, 'error');
                        } else if (error.request) {
                            console.log(error.request);
                        } else {
                            console.log('Error', error.message);
                        }
                    });
                }
            },
            pay () {
                // createToken returns a Promise which resolves in a result object with
                // either a token or an error key.
                // See https://stripe.com/docs/api#tokens for the token object.
                // See https://stripe.com/docs/api#errors for the error object.
                // More general https://stripe.com/docs/stripe.js#stripe-create-token.
                createToken().then(data => {
                    this.submitted = true;
                    //console.log(data.token); //this is a token we would use for the stripeToken below

                    axios.post('/api/charge', {
                            stripeToken: data.token.id,
                            plan: this.planDefault
                        }
                    ).then((response) => {
                        if (response.data.success) {
                            this.status = 'success';
                            // this.$emit('successSubmit');
                            // this.$store.commit('clearCartCount');
                            this.flash(response.data.message, 'success');

                            setTimeout(function () {
                                window.location.href = '/';
                            }, 2000);
                        } else {
                            this.status = 'failure';
                            this.submitted = false;
                            this.flash(response.data.message, 'error');
                        }
                    }).catch((error) => {
                        this.status = 'failure';
                        this.submitted = false;

                        if (error.response.status) {
                            if (error.response.status == 401) {
                                this.$store.commit('toggleModelLogin', true)
                            }
                        }

                        if (error.response.data.message) {
                            this.flash(error.response.data.message, 'error');
                        } else if (error.request) {
                            console.log(error.request);
                        } else {
                            console.log('Error', error.message);
                        }
                    });
                });
            },
            clearCart() {
                this.submitted = false;
                this.status = '';
                this.complete = false;
                this.response = '';
            }
        },

        created() {
            if (window.__INITIAL_STATE__) {
                let state = JSON.parse(window.__INITIAL_STATE__) || null;

                if (state['plans'] !== undefined) {
                    this.plans = state['plans'];

                    for (let plan of state['plans']) {
                        if (plan['default'] !== undefined) {
                            this.planDefault = plan['slug'];
                            break;
                        }
                    }
                }

                if (state['cards'] !== undefined) {
                    this.cards = state['cards'];
                    this.hasCard = true;

                    for (let card of this.cards) {
                        if (card['default']) {
                            this.cardID = card['id'];
                            break;
                        }
                    }
                }
            }
        }
    }
</script>

<style>
    .stripe-card {
        width: 300px;
        border: 1px solid grey;
    }
    .stripe-card.complete {
        border-color: green;
    }
</style>