<template>
    <transition-group v-if="users.length > 0" tag="div" name="list" class="wrapper-body columns is-multiline">
        <div v-for="(user, index) in users" v-bind:key="user.id" class="list-item column is-12">
            <div class="columns is-mobile is-multiline">
                <div class="column is-1-desktop is-hidden-touch hand-content">
                    <div @click="renew(index, user.id)" class="hand hand-renew"><i class="fas fa-undo-alt"></i></div>
                </div>
                <div class="column is-2-mobile is-2-tablet is-1-desktop">
                    <div v-if="user.image"><a v-bind:href="'/users/'+user.provider_slug+'/'+user.provider_id"><img style="width: 100%;" v-bind:src="'/images/lists/'+user.image" /></a></div>
                </div>
                <div class="column is-12-mobile is-12-tablet is-9-desktop">
                    <div><a v-bind:href="'/users/'+user.provider_slug+'/'+user.provider_id">{{ user.name }}</a> <a v-bind:href="'/out/'+user.provider_slug+'/'+user.provider_id" target="_blank"><i v-bind:class="'fab fa-'+user.provider_icon+' color-'+user.provider_slug" v-bind:title="user.provider"><!-- - {{ user.provider }}--></i></a></div>
                    <div>
                        Destructed {{ user.date_diff }}
                    </div>
                </div>
            </div>
        </div>
    </transition-group>
    <div v-else>
        <div class="wrapper-body columns is-multiline">
            <div class="column is-12 has-text-centered">
                Waiting for destructed user or <a href="/login">join us</a> to be next!
            </div>
        </div>
    </div>
</template>

<script>
    import destruct from '../destruct';
    import mixin from '../mixin';

    export default {
        mixins: [destruct, mixin],

        data() {
            return {
                users: []
            };
        },

        mounted() {
            Echo.channel('users-destruct')
                .listen('UserDestruct', (e) => {
                    this.users = e.users;
                });
        },
    }
</script>