<template>
    <transition-group tag="div" name="list" class="wrapper-body columns is-multiline">
        <div v-for="(user, index) in users.slice(0,1)" v-bind:key="user.id" class="list-item column is-12">
            <div class="columns is-mobile is-multiline">
                <div class="column mobile-order-3 is-9-mobile is-2-tablet is-1-desktop hand-content">
                    <div class="hand-content-item">
                        <div v-if="user.destructed">
                            <div @click="renew(index, user.id)" class="hand hand-renew"><i class="fas fa-undo-alt"></i></div>
                        </div>
                        <div v-else>
                            <div @click="thumbUp(index, user.id)" class="hand hand-vote" v-bind:class="{'hand-vote-up': user.voted}" v-bind:title="-user.vote"><i class="fas" v-bind:class="[user.voted ? 'fa-skull' : 'fa-thumbs-down']"></i></div>
                            <div v-if="user.vote">-{{ user.vote }}</div>
                            <div v-else>{{ user.vote }}</div>
                        </div>
                    </div>
                </div>
                <div class="column mobile-order-2 is-3-mobile is-2-tablet is-2-desktop is-1-widescreen">
                    <div v-if="user.image"><img style="width: 100%;" class="list-image" v-bind:src="'/images/lists/'+user.image" v-bind:title="user.name" /></div>
                </div>
                <div class="column mobile-order-1 is-12-mobile is-8-tablet is-9-desktop is-10-widescreen">
                    <div>{{ user.name }} <!--<a v-bind:href="'/out/'+user.provider_slug+'/'+user.provider_id" target="_blank"><i v-bind:class="'fab fa-'+user.provider_icon+' color-'+user.provider_slug" v-bind:title="user.provider">&lt;!&ndash; - {{ user.provider }}&ndash;&gt;</i></a>--></div>
                    <div>
                        <span v-if="user.friends.length > 0" v-html="loopFriends(user.friends, index, true)"></span>
                    </div>
                </div>
            </div>
        </div>
    </transition-group>
</template>

<script>
    import destruct from '../destruct';
    import mixin from '../mixin';
    import users from '../users';

    export default {
        mixins: [destruct, mixin, users],
    }
</script>