<template>
    <transition-group v-if="users.length > 0" tag="div" name="list" class="wrapper-body columns is-multiline">
        <div v-for="(user, index) in users" v-bind:key="user.id" class="list-item column is-12" v-bind:class="{ 'first': isFirst(index), 'animation-flash animation-flash': (isFirst(index) && user_mode_1), 'animation-flash-faster': (isFirst(index) && user_mode_2), 'animation-explode': user_explode }">
            <div v-if="!start && index === 0" class="columns is-mobile is-multiline">
                <div class="column has-text-centered">
                    <span>Destruct </span>
                    <countdown v-bind:time="time * 1000" v-on:countdownprogress="onCountdownProgress">
                        <template slot-scope="props">
                            <span v-if="props.days > 0">{{ props.days }} days,</span>
                            <span v-if="props.hours > 0">{{ props.hours }} hours,</span>
                            <span>{{ props.minutes }} minutes,</span>
                            <span>{{ props.seconds }} seconds.</span>
                        </template>
                    </countdown>
                </div>
            </div>
            <div class="columns is-mobile is-multiline">
                <div class="column mobile-order-3 is-9-mobile is-2-tablet is-1-desktop hand-content">
                    <div class="hand-content-item">
                        <div @click="thumbUp(index, user.id)" class="hand hand-vote" v-bind:class="{'hand-vote-up': user.voted}" v-bind:title="-user.vote"><i class="fas" v-bind:class="[user.voted ? 'fa-skull' : 'fa-thumbs-down']"></i></div>
                        <div v-if="user.vote">-{{ user.vote }}</div>
                        <div v-else>{{ user.vote }}</div>
                    </div>
                </div>
                <div class="column mobile-order-2 is-3-mobile is-2-tablet is-2-desktop is-1-widescreen">
                    <div v-if="user.image"><a v-bind:href="'/users/'+user.provider_slug+'/'+user.provider_id"><img style="width: 100%;" class="list-image" v-bind:src="'/images/lists/'+user.image" v-bind:title="user.name" /></a></div>
                </div>
                <div class="column mobile-order-1 is-12-mobile is-8-tablet is-9-desktop is-10-widescreen">
                    <div><a v-bind:href="'/users/'+user.provider_slug+'/'+user.provider_id">{{ user.name }}</a> <!--<a v-bind:href="'/out/'+user.provider_slug+'/'+user.provider_id" target="_blank"><i v-bind:class="'fab fa-'+user.provider_icon+' color-'+user.provider_slug" v-bind:title="user.provider">&lt;!&ndash; - {{ user.provider }}&ndash;&gt;</i></a>--></div>
                    <div>
                        <span v-if="user.friends.length > 0" v-html="loopFriends(user.friends, index)"></span>
                    </div>
                    <span v-if="start && index === 0">
                        <countdown v-bind:time="time * 1000" v-on:countdownprogress="onCountdownProgress">
                            <template slot-scope="props">
                                {{ props.minutes }}:{{ props.seconds }}
                            </template>
                        </countdown>
                    </span>
                </div>
            </div>
            <!--<hr>-->
        </div>
    </transition-group>
    <div v-else>
        <div class="wrapper-body columns is-multiline">
            <div class="column is-12 has-text-centered">
                There are no user left. Please <a href="/destructions">destruct</a> more user or <a href="/login">join us</a> to be next!
            </div>
        </div>
    </div>
</template>

<script>
    import mixin from '../mixin';
    import users from '../users';

    export default {
        mixins: [mixin, users],

        data() {
            return {
                time: 0,
                start: false,
                user_mode_1: false,
                user_mode_2: false,
                user_explode: false
            };
        },

        mounted() {
            Echo.channel('users')
                .listen('UserList', (e) => {
                    this.users = e.users;

                    if (e.refresh) {
                        this.user_mode_1 = false;
                        this.user_mode_2 = false;
                        this.user_explode = false;
                    }

                    this.time = e.time;
                    this.start = e.start;
                });
        },

        methods: {
            isFirst: function (index) {
                if (!index && this.start) {
                    return true;
                }

                return false;
            },
            onCountdownProgress(data) {
                if (!this.user_mode_1) {
                    if (data.minutes < 10) {
                        this.user_mode_1 = true;
                    }
                }

                if (!this.user_mode_2) {
                    if (data.minutes < 5) {
                        this.user_mode_2 = true;
                    }
                }

                if (this.user_mode_1 && this.user_mode_2 && !this.user_explode) {
                    if (data.seconds == 0) {
                        if (data.minutes == 0) {
                            this.user_explode = true;
                        }
                    }
                }
            }
        }
    }
</script>