// Color
$color-white: rgba(255, 255, 255, 1);

//// https://coolors.co/000000-ffffff-494949-7c7a7a-ff5d73
//$color1: rgba(0, 0, 0, 1);
//$color2: rgba(255, 255, 255, 1);
//$color3: rgba(73, 73, 73, 1);
//$color4: rgba(124, 122, 122, 1);
//$color5: rgba(255, 93, 115, 1);
//
//$color-flash: $color5;

//// color-combo-25-tb-752x0.png
//$color1: #00293C;
//$color2: #1E656D;
//$color3: #F1F3CE;
//$color4: #F62A00;
//
//$color-flash: $color4;

// https://coolors.co/292f36-4ecdc4-f7fff7-ff6b6b-ffe66d
$color-1: rgba(41, 47, 54, 1);
$color-2: rgba(78, 205, 196, 1);
$color-3: rgba(247, 255, 247, 1);
$color-4: rgba(255, 107, 107, 1);
$color-5: rgba(255, 230, 109, 1);

$color-blue-dark: $color-1;
$color-blue: $color-2;
$color-white: $color-3;
$color-pink: $color-4;
$color-yellow: $color-5;

$color-flash: $color-4;

//$color-flash-error-bg: #FFD2D2;
//$color-flash-info-bg: #BDE5F8;
//$color-flash-success-bg: #DFF2BF;
//$color-flash-warning-bg: #FEEFB3;
//
//$color-flash-error-color: #D8000C;
//$color-flash-info-color: #00529B;
//$color-flash-success-color: #4F8A10;
//$color-flash-warning-color: #9F6000;

//// https://www.colourlovers.com/palette/778713/Miaka
//$color1: rgba(252, 53, 76, 1);
//$color2: rgba(41, 34, 31, 1);
//$color3: rgba(19, 116, 125, 1);
//$color4: rgba(10, 191, 188, 1);
//$color5: rgba(252, 247, 197, 1);
//
//$color-flash: $color1;

// Colors - Social Media
$color-facebook: #3B5998;
$color-facebook-link: #F6F7F9;
$color-twitter: #1DA1F2;
$color-twitter-link: #F5F8FA;

// Bulma
$primary: $color-pink;

$navbar-background-color: $color-blue-dark;
$navbar-item-color: $color-white;
$navbar-item-hover-color: $color-pink;
$navbar-item-active-color: $color-pink;
$navbar-burger-color: $color-pink;