// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,600");

// Variables
@import "variables";

// Bulma
@import "~bulma/bulma";

// Font Awesome
@import "~@fortawesome/fontawesome-free/css/all.css";

html {
  background: $color-white;
}

body {
  color: $color-white;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: none;
  font-smoothing: antialiased;
}

a {
  //font-weight: bold;
  color: $color-pink;
  transition: all 0.3s linear;

  &:focus,
  &:hover {
    color: $color-pink;
  }
}

.color {
  &- {
    &blue-dark {
      color: $color-blue-dark;
    }

    &blue {
      color: $color-blue;
    }

    &white {
      color: $color-white;
    }

    &pink {
      color: $color-pink;
    }

    &yellow {
      color: $color-yellow;
    }

    &facebook {
      color: rgb(59, 89, 152);
    }

    &twitter {
      color: rgb(29, 161, 242);
    }
  }
}

.button {
  &- {
    &socialmedia {
      border-width: 0;
      padding-left: 1em;
      padding-right: 1em;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;

      i {
        margin-right: 10px;
      }
    }

    &facebook {
      background-color: $color-facebook;

      &,
      &:active,
      &:focus,
      &:hover {
        color: $color-facebook-link;
      }
    }

    &twitter {
      background-color: $color-twitter;

      &,
      &:active,
      &:focus,
      &:hover {
        color: $color-twitter-link;
      }
    }
  }
}

.errors {
  color: $color-blue-dark;
  font-size: 24px;
  text-align: center;
}

.navbar {
  &- {
    &brand {
      .navbar-item {
        color: $color-pink;
      }
    }
  }
}

@include mobile() {
  .mobile {
    &- {
      &order {
        &- {
          &1 {
            order: 1;
          }
          &2 {
            order: 2;
          }
          &3 {
            order: 3;
          }
          &4 {
            order: 4;
          }
        }
      }
    }
  }
}

/*.icon {
  &- {
    &circle {
      $circle_size: 20px;
      background-color: $color-white;
      border-radius: 50%;
      width: $circle_size;
      height: $circle_size;
      text-align: center;
      vertical-align: middle;
    }
  }
}*/

.wrapper-body {
  background: $color-blue-dark;
}

.modal {
  &- {
    &enter,
    &leave-to {
      opacity: 0
    }
    &leave,
    &enter-to {
      opacity: 1
    }
    &enter-active,
    &leave-active {
      transition: opacity 300ms
    }
  }
}

$flash_duration: 3s;
$flash_duration_faster: 2s;
//$flash_duration_fastest: .25s;

.animation-flash {
  background-color: rgba($color-flash, .2);
  -webkit-animation: animation-flash $flash_duration linear infinite;
  animation: animation-flash $flash_duration linear infinite;

  &- {
    &faster {
      background-color: rgba($color-flash, .5);
      -webkit-animation-duration: $flash_duration_faster;
      animation-duration: $flash_duration_faster;
    }

    //&fastest {
    //  background-color: red;
    //  -webkit-animation: flash linear $flash_duration_fastest infinite;
    //  animation: flash linear $flash_duration_fastest infinite;
    //}
  }
}

@keyframes animation-flash {
  50% {
    background-color: transparent;
  }
}

@keyframes animation-pulse {
  0% { transform: scaleX(1) }
  50% { transform: scale3d(1.01, 1.01, 1.01) } to { transform:scaleX(1) }
}

.animation-pulse {
  animation: animation-pulse 1s infinite;
    transform-origin: 50% 50%;
}

.list-complete {
  &- {
  }
}

.list {
  &- {
    &item {
      transition: all 1s;
      display: block;
      border-bottom: 1px solid;
    }

    &enter,
    &leave-to {
      opacity: 0;
      transform: translateY(30px);
    }

    &leave-active {
      position: absolute;
    }

    &image {
      max-width: 80px;
    }

    &images {
      border-radius: 50%;
    }
  }
}

.first {
  font-size: 1.2rem;
}

.hand {
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s linear;

  &- {
    &content {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      @include mobile() {
        justify-content: flex-end;
      }

      &-item {
        max-width: 50%;
      }
    }

    &vote {
      &:focus,
      &:hover {
        color: $color-pink;
      }

      &- {
        &up {
          &,
          &:focus,
          &:hover {
            color: $color-blue;
          }
        }
      }
    }

    &renew {
      &:focus,
      &:hover {
        color: $color-blue;
      }
    }
  }
}

.flash__wrapper {
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.flash__message {
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 1rem 2.5rem;
  //background-color: $color-flash-success-bg;
  //color: $color-flash-success-color;
  background-color: $color-2;
  text-align: center;

  &,
  a {
    color: $color-3;
  }

  a {
    text-decoration: underline;
  }

  &.error {
    background-color: $color-4;

    &,
    a {
      color: $color-3;
    }
  }

  //&.info {
  //  background-color: $color-flash-info-bg;
  //  color: $color-flash-info-color;
  //}

  &.success {
    background-color: $color-2;

    &,
    a {
      color: $color-3;
    }
  }

  //&.warning {
  //  background-color: $color-4;
  //  color: $color-3;
  //}
}

.login {
  padding-top: 2em;
  padding-bottom: 3em;

  h4 {
    font-size: 1.3rem;
    font-weight: bold;
  }
}